#Intellij project files
.idea/
*.iml
*.ipr
*.iws

#abantecart files
admin/system/updates.xml
admin/system/temp/
admin/system/backup/
admin/system/uploads/
system/cache/*
system/logs/*
system/config.php
image/thumbnails/